/*:root ver el tema del root con a letra iy quizas tambien lo pueda usar*/

*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


    


.log{
    display: flex;
    background-image: url('img/paisaje-montana-violeta-lago-montanas-al-fondo_795881-1969.avif');
    background-size: cover;
    justify-content: center;
    align-items: center;
    min-height: 100vh;    
}

.login{

    width: 400px;
    height: 470px;
    background-color: rgba(250, 235, 215, 0.658);
    border-radius: 10%;
    overflow: hidden;
    
}

.titulo{
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4b00e0d5, #8d2de2d5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 400px;
    color: rgba(240, 248, 255, 0.795);
    text-align: center;
    padding: 30px;
    font-weight: bold;
    font-size: 1.5em;
   
}
.password {
    position: relative;
}

.password i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}
h1{
    font-size: 1.3em;
    color: #8E2DE2;
    padding: 10px;

}
.txt-input-label{
    
    color: rgba(0, 0, 0, 0.863);
    font-weight: bold;
   
   
}

.items{
    padding: 5px 20px;
}

.form-control{
    margin-top: 5px;
    margin-bottom: 7px;
    width: 350px;
    text-align: center;
    padding-top: 3px;

}

.btn {
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4b00e0d5, #8d2de2d5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: antiquewhite;
    border-radius: 10px;
    font-size: 1.2em;
    padding:10px 10px;
    width: 45vw;
    border: none;
    margin: 15px 80px ;
    width: 17vw;

    
}

.remember-forgot{
    margin-top: 50px;
}
.txtlbl{

    font-size: 1.2em;
     
}

.bx{
    color: #8E2DE2;
    position: relative;
    left: 332px;
    top: -27px;
    cursor: pointer;
}
/*segunno formulario*/

.menu1{
    margin: 0;
    padding: 0;
    width: 100%;
}
.menu{
    background-color:  rgb(1, 26, 64);;    
    height:5vh;
}

.contenedorI{
    height: 60vh;
    width: 40vw;
    overflow: hidden; /* Asegura que la imagen no se desborde del contenedor */
    display: flex; /* Alinea la imagen dentro del contenedor */
    justify-content: center; /* Centra horizontalmente la imagen */
    align-items: center; /* Centra verticalmente la imagen */
}
img{
    max-width: 100%; /* La imagen no puede ser más ancha que el contenedor */
    max-height: 100%; /* La imagen no puede ser más alta que el contenedor */
    object-fit: contain;
    

}


.m-Usuario{
  position: relative;
  background-color: beige;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  top: 10px;
  left: 5px;
}




.card{
    width: 50%;
    margin:  73px 40px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2) ;
    cursor: default;
    transition: all 400ms ease;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
} 
.card .contenido{
    padding: 15px;
    text-align: center;
}
.card .contenido p{
    line-height: 1.5;
    color: #6a6a6a;
}
.card .contenido h3{
    font-weight: 400;
    margin-bottom: 15px;
}

.card.contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #8E2DE2;
    border: 1px solid #2fb4cc;
    transition: all 400ms ease;
}

.card.contenido a:hover{
    background: #2fb4cc;
    color: #fff;
}
/*vym*/
.vymBody{
    display: flex;
    background-color:rgba(0, 0, 0, 0.2);
    background-size: cover;
    min-height: 100vh; 
    margin-top: 4vh;   
    padding-top: 1vh;
   
}


.estructura1{
border-style: solid;
height: calc((100vh / 0.11)*0.2); 
width: calc((100vw / 0.297)*0.2); 
background-color: #fff;
overflow: hidden;
font-size:0.875em;
padding: 10px;
}

.BotonMenu{
display: flex;
flex-direction: column;
padding-top: 15vh;
width: 20vw;
height: 100%;
align-items: flex-start;
justify-items: center;

}
.nombreCongre{
    font-size: 1 em;
    font-weight: bolder;
    text-align: center;
    color: #413f3f;
}
.week{
    display: flex;
    flex-direction: column;
    height: 25vh;
    width: 100%;
    border-color: black;
    margin-bottom: 80px;
    padding: 10px;
}
.rowHeader{
    
    display: flex;
    flex-direction: row;
    background-color: rgb(242, 242, 242);


}

.background-Color242{
    background-color: rgb(242, 242, 242);
}

.icon{
    
    height: 3.7vh;
    width: 3.7vh;
    border-radius: 5px;
    object-fit: fill;

}
.row{
    display: flex;
    flex-direction: row;
    align-items: center; /* Centrar los elementos horizontalmente */
    text-align: center;
    position: relative;
}
.row1{
    font-size: 11px;
    width: 100%;
}

.Cancion1{
    width: 20px;
    
}

.columna3{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
   
}

.celdaA1,
.celdaA2,
.celdaA3 {
    
    flex-grow: 1;
    font-size: 1.2em;
    padding-left: 10px;
}





.btnVym{

    width: 10vw;
}

input {
    width: 100%;
    font-size: 0.9em;
    padding: 0;
    margin: 0;
    border: none; /* Elimina el borde para todos los inputs */
}

.num{
    width: 10%;
}

.hermanos{
    width: 30%;
}

.Presidente{
  width: 57%;
}

.TESOROS{
    height: 2.7vh;
    width: 2.7vh;
    border-radius: 5px;
    object-fit: fill;
    overflow: hidden;
}

.subtitulos{
    width: 100%;
    font-weight: bold;
    text-align: left;
}
.colorgreen{
    color: rgb(35, 141, 156);
    background-color: white;
    
}
.colorred{
    color: rgba(153, 19, 30);
    background-color: white;
    
}

.coloryellow{
    color: rgb(217, 142, 4);
    background-color: white;
    
}
.tiempo{
    color: #6a6a6a;
}
.hermanoAsig{
    color: #111111;
    font-weight: bold;
    text-align: right;
    
    width: 50%;
    justify-content: end;
}
.seccion1{
 width: 70%;
}
.widthauto{
    width: auto; /* Ancho automático */
}
.first-div {
    
    overflow: hidden;
    min-width: 100px;
   
  }
  
  .second-div {
   
    margin-left: 10px; /* Espacio entre los dos divs */
  }
.flex1{
  
    flex-grow: 1;
}

.fontS{
    font-size: 0.8em ;

}

.width100{
    width: 99px;
}

.font2{
    font-size: 1.2em;
    padding-left: 10px;
}
hr {
    
    height: 10px;
    background-color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombras */
  }

.right{
    justify-content: end;
}

input:focus {
    /* Establece el borde inferior cuando el input está en foco */
    border-top: none;
    border-bottom: 4px solid #8E2DE2;
    scale: 1.1;
    text-align: center;
    transition: all 0.7s;
}



.botonCircular {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: #8E2DE2;
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: width 0.9s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    padding: 5px;
    font-size: medium;
    
  }
  
  .botonCircular:hover {
    width: 120px;
    border-radius: 10px;
  }
  
  #icono {
    transition: opacity 0.3s ease;
  }
  
  .innerButton {
    display: none;
    position: absolute;
   
    right: 20px;
}

.innerButton2 {
    display: none;
    position: absolute;
   
    right: 3px;
}

.cambioDiv{
    background-color: #8E2DE2;
    color: #fff;
    border-radius: 50%;
    font-size: 10px;

}